// Colors
$brand-green: #3ebb85;
$brand-green-hover: #38a877;
$brand-green-border: #31956a;
$brand-red: #f6605f;
$brand-red-hover: #f43c3b;
$brand-background-blue: #010c2e;

$color-white: #fff;
$color-off-white-1: #f8fafb;
$color-off-white-2: #ebecee;

$color-gray-1: #868e96;
$color-gray-2: #393939;
$color-gray-3: #031c33;
